.footerMain{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    background-color: transparent;
    color: white;
    font-weight:500;
    width: 100%;
    height: auto;
}

.footerLinks{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    height: auto;
}

.footerLinks a{
    text-decoration: none;
    height: 100%;
    cursor: pointer;
    color: white;
}

.footerLinks a:active{
    color: white;
}

@media only screen and (max-width: 800px) {
    .footerMain{
       flex-direction: column;
       gap: 25px;
    }
  }