.navbarMain{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    margin: 25px 0px;
    width: 100%;
    height: 100px;
    z-index: 11;
}

.navbarMain a{
    color: black;
    height: 100%;
    text-decoration: none;
}

.navbarMain a img{
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    object-fit: contain;
    cursor: pointer;
}